spring:
  application:
    name: Event Linker
  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_AUTH_USERNAME}
    password: ${DB_AUTH_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  config:
    import: optional:file:.env[.properties]
logging:
  level:
    org.springframework.security : trace